<!DOCTYPE html>
<html>
<head>
    <title>Uploaded Images</title>
</head>
<body>
    <h1>All Images</h1>
    
    <a href="{% url 'go_to_post' %}" class="upload-btn">Upload New Image</a>
    <br>
    <br>
    {% if object_list %}

        <table class="table">
            <thead>
                <tr>
                    <th>Image</th>
                    <th>Description</th>
                    <th>Delete</th>
                </tr>
            </thead>

            <tbody>
                {% for post in object_list %}

                    <tr>
                        <td><img src="{{ post.cover.url }}" alt="{{ post.title }}", width="250"></td>
                        <td>{{ post.title }}</td>
                        <td><form action="{% url 'delete_image' post.pk %}" method="POST">
                            {% csrf_token %}
                            <button type="submit">Delete</button>
                        </form></td>
                    </tr>

                {% endfor %}
            </tbody>
        </table>

    {% else %}
        <p style="text-align: center;">No images yet. Click button above to upload!</p>
    {% endif %}
    
    <div style="text-align: center; margin-top: 20px;">
        <a href="{% url 'home' %}">Home</a>
    </div>
</body>
</html>